<h2>Citations</h2>

<button (click)="openAddForm()">Add Citation</button>

<ul>
 <!-- Loop (@ for) through the list of citations and display them with edit/delete options (note to self) -->
    @for (citation of Citations; track $index; let i = $index) {
        <li>
            <strong>{{ citation.id }}</strong> - "{{ citation.citationText }}"
            <button (click)="openEditForm(i)">Edit</button>
            <button (click)="removeCitation(citation)">Delete</button>
        </li>
    }

<!-- form -->
</ul>
@if (showForm) {
    <div class="modal-backdrop">
        <div class="modal">
            <h3>{{ isEditing ? 'Edit citation' : 'Add citation' }}</h3>

            <label for="citationText">Citation/Quote</label>
            <input type="text" id="citationText" name="citationText" [(ngModel)]="citationForm.citationText">

            <button (click)="saveCitation()">Save</button>
            <button (click)="closeForm()">Cancel</button>
        </div>
    </div>
}
