<h2>Booklist</h2>

<button (click)="openAddForm()">Add Book</button>

<ul>
    <!-- Loop (@ for) through the list of books and display them with edit/delete options (note to self) -->
    @for (book of books; track $index; let i = $index) {
    <li>
        <div class="book-info">
            <strong>{{ book.title }}</strong>
            <span>{{ book.author }} {{ book.publicationDate }}</span>
        </div>
         <div class="actions">
        <button (click)="openEditForm(i)">Edit</button>
        <button (click)="removeBook(book)">Delete</button>
        </div>
    </li>
    }

    <!-- form -->
</ul>
@if (showForm) {
<div class="modal-backdrop">
    <div class="modal">
        <h3>{{ isEditing ? 'Edit book' : 'Add book' }}</h3>

        <label for="bookTitle">Title</label>
        <input type="text" id="bookTitle" name="bookTitle" [(ngModel)]="bookForm.title">

        <label for="bookAuthor">Author</label>
        <input type="text" id="bookAuthor" name="bookAuthor" [(ngModel)]="bookForm.author">

        <label for="bookPublicationDate">Publication Date</label>
        <input type="month" id="bookPublicationDate" name="bookPublicationDate" [(ngModel)]="bookForm.publicationDate">

        <button (click)="saveBook()">Save</button>
        <button (click)="closeForm()">Cancel</button>
    </div>
</div>
}